/* Class properties son las propiedades que se le dan a los elementos */
/* Variable */
$color: #DB4437;

/* Class selector */
* {
  box-sizing: border-box;
}

/* Class selector */
.row::after {
  content: "";
  clear: both;
  display: block;
}

/* Class selector */
[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: Product Sans, sans-serif;
}

/* #id */
#earth {
  font-style: bold;
  background-color: #4285F4;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: $color;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Class Selectors */
.menu li:hover {
  background-color: #F4B400;
}


.aside {
  background-color: $color;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #4285F4;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* List unordered */
td {
  text-align: center;
  padding-right: 50px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*One mobile-responsive @media query*/
@media (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* Nesting */
div {

    p {
        font-size: 12px;
    }
    tr {
        font-size: 12px;
    }

  }

/* Inheritance */
  %message {
      font-family: sans-serif;
      font-size: 18px;
      font-weight: bold;
      border: 1px solid black;
      padding: 20px;
      margin: 20px;
  }

  .success {
      @extend %message;
      background-color: green;
  }
